version: '3'
services:
  athos:
    build:
      .
    image: belthazaar/athos
    privileged: true
    volumes:
     - ./etc/athos:/etc/athos
     - ./etc/faucet:/etc/faucet
     - .:/athos
     - /tmp/.X11-unix:/tmp/.X11-unix
     - /lib/modules:/lib/modules
    entrypoint: "/athos/docker/entry.sh"
